.button {
  background: none;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  cursor: pointer;
  position: relative;
  .icon {
    color: rgb(var(--primary));
    position: absolute;
    // top: 64%;
    // left: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeOut {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    &[data-active='true'] {
      animation-name: fadeIn;
      animation-duration: 400ms;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }
  }
}
