.main {
  min-height: calc(100vh - 2rem);
  margin-top: 2rem;
  text-align: center;
  line-height: 130%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  overflow-y: scroll;

  .grid {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    transition: 1s all;

    @media only screen and (max-width: 400px) {
      grid-template-columns: 1fr;
    }
  }
}
