.main {
  min-height: calc(100vh - 2rem);
  margin-top: 2rem;
  text-align: center;
  line-height: 130%;
  display: flex;
  gap: 2rem;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  overflow-y: scroll;

  @keyframes dropin {
    from {
      transform: translateY(-6rem);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .dropin {
    animation: dropin 1s ease-in-out forwards;
    font-weight: 400;
    opacity: 0;
  }
}
