.navbar {
  height: 4rem;
  line-height: 4rem;
  padding: 0 3rem;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;

  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;

  .logo {
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
    margin: 1rem 0;
  }

  @keyframes fadeIn {
    from {
      text-decoration-color: rgba(var(--primary), 0);
    }
    to {
      text-decoration-color: rgba(var(--primary), 255);
    }
  }
  .active {
    animation: fadeIn 400ms ease-in-out forwards;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  .firstLink {
    margin-left: auto;
  }

  .toggleBox {
    width: 1.5rem;
    display: flex;
    align-items: center;
    height: 100%;
  }
}
