.hidden {
  display: none;
}
.pop {
  position: relative;
  z-index: 2;
  width: 3rem;

  .popButton {
    background-color: #0000;
    height: 3rem;
    width: 3rem;
    position: relative;
    margin: 0.5rem 0;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: none;

      &::after {
        outline: 2px solid white;
        border: 2px solid rgb(0, 113, 199);
        border-radius: 10px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      outline: none;
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 0.25rem;
      background-color: #38c406;
      top: 1.25rem;
      left: 1.25rem;
    }
  }
  .popPanel {
    position: fixed;
    transform: translate(-3rem, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    gap: 0.75rem;

    position: relative;
    width: 400px;
    height: 200px;

    box-shadow: 0px 10px 15px -3px rgba(var(--primary), 0.4);
    background-color: rgb(var(--secondary));

    border-radius: 0.5rem;

    .popAlbumCover {
      border-radius: 0.5rem;
      height: 100%;
    }

    .popTextContent {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px;
      gap: 0.5rem;
      flex-grow: 1;
      flex-basis: 1;
      height: 100%;

      .currently {
        font-weight: 400;
        font-size: 0.8em;
        line-height: 10px;
        margin-bottom: 1rem;
        font-style: italic;
      }

      .title {
        font-weight: 900;
        font-size: 0.9em;
        line-height: 14px;
        text-align: center;
      }

      .artist {
        font-weight: 700;
        font-size: 0.7em;
        line-height: 13px;
        text-align: center;
        display: block;
      }

      .listenNow {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 12px;
        gap: 0.5rem;
        margin-top: 1rem;
        font-weight: 400;
        font-size: 1em;
        line-height: 10px;
      }
    }
  }
}
