@import '_reset.scss';

@font-face {
  font-family: 'Avenir Next Regular';
  src: url('../fonts/AvenirNextRegular.otf') format('opentype');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Avenir Next Regular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  // cursor: url('https://commons.wikimedia.org/wiki/File:Happy_smiley_face.png'), auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-light: 0, 0, 0;
  --primary-dark: 255, 255, 255;
  --bg-url-light: url('https://images.unsplash.com/photo-1604079628040-94301bb21b91?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2731&q=80');
  --bg-url-dark: url('https://images.unsplash.com/photo-1614852207179-f21528f68aa0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
}

body {
  --primary: var(--primary-light);
  --bg-url: var(--bg-url-light);
}
body.dark-theme {
  --primary: var(--primary-dark);
  --bg-url: var(--bg-url-dark);
}
@media (prefers-color-scheme: dark) {
  body {
    --primary: var(--primary-dark);
    --bg-url: var(--bg-url-dark);
  }
  body.light-theme {
    --primary: var(--primary-light);
    --bg-url: var(--bg-url-light);
  }
}

body {
  transition: 400ms ease-in-out all;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(var(--primary));
  background-image: var(--bg-url);
}
