.button {
  width: 1.8em;
  height: 1.8em;
  text-align: center;
  font-size: 2.4rem;

  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;

  box-shadow: 0px 10px 15px -3px rgba(var(--primary), 0.2);
  transition: box-shadow 400ms ease-in-out;
  &:hover {
    box-shadow: 0px 10px 15px -3px rgba(var(--primary), 0.4);
  }
  svg {
    transform: translateY(0.4em);
  }
}
